@font-face {
    font-family: 'Sacramento';
    src: url('@/assets/fonts/subset-Sacramento-Regular.eot');
    src: local('Sacramento'), local('Sacramento-Regular'),
        url('@/assets/fonts/subset-Sacramento-Regular.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/subset-Sacramento-Regular.woff2') format('woff2'),
        url('@/assets/fonts/subset-Sacramento-Regular.woff') format('woff'),
        url('@/assets/fonts/subset-Sacramento-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus';
    src: url('@/assets/fonts/subset-NimbusSansRound-Regular.eot');
    src: local('Nimbus Sans Round Regular'), local('NimbusSansRound-Regular'),
    url('@/assets/fonts/subset-NimbusSansRound-Regular.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/subset-NimbusSansRound-Regular.woff2') format('woff2'),
    url('@/assets/fonts/subset-NimbusSansRound-Regular.woff') format('woff'),
    url('@/assets/fonts/subset-NimbusSansRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus';
    src: url('@/assets/fonts/subset-NimbusSansRound-Bold.eot');
    src: local('Nimbus Sans Round Bold'), local('NimbusSansRound-Bold'),
    url('@/assets/fonts/subset-NimbusSansRound-Bold.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/subset-NimbusSansRound-Bold.woff2') format('woff2'),
    url('@/assets/fonts/subset-NimbusSansRound-Bold.woff') format('woff'),
    url('@/assets/fonts/subset-NimbusSansRound-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus';
    src: url('@/assets/fonts/subset-NimbusSansRound-RegularItalic.eot');
    src: local('Nimbus Sans Round Regular Italic'), local('NimbusSansRound-RegularItalic'),
    url('@/assets/fonts/subset-NimbusSansRound-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/subset-NimbusSansRound-RegularItalic.woff2') format('woff2'),
    url('@/assets/fonts/subset-NimbusSansRound-RegularItalic.woff') format('woff'),
    url('@/assets/fonts/subset-NimbusSansRound-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
