* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --bg-color: #FFF8F0;

    --txt-color-first: #272529;
    --txt-color-second: #999;
    --txt-color-accent: #D899A7;

    --border: 1px solid #8C8989;
    --border-active: 1px solid #D899A7;

    --shadow: 3px 3px 0 3px #F4F0F2;

    --outline: 2px solid transparent;
    --outline-active: 2px solid #D899A7;

    --fs-s: 2rem;
    --fs-m: 2.5rem;
    --fs-l: 3rem;
    --fs-xl: 4rem;
}

:root {
    font-size: 8px;
}

html,
body {
    font-size: var(--fs-m);
    font-family: 'Nimbus', Arial, "Times", serif;
    background-color: var(--bg-color);
    background-image: url("/assets/background.png");
    background-repeat: repeat;
    background-position: center;
    color: var(--txt-color-first);
}
